<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" href="assets/css/home.css">
</head>

<body>
    <div class="container w3-row">
        <div class="side-bar w3-col m3 l2">
            <a href="/home">
                <h2>UET - VNU</h2>
            </a>
            <ul>
                <li id="tintuc" onclick="javascript:tabTinTuc()">
                    <i class="fa fa-chart-bar"></i> Tin tức cựu sinh viên
                </li>
                <li id="baocao" onclick="javascript:tabBaoCao()">
                    <i class="fa fa-file"></i> Báo cáo về cựu sinh viên
                </li>
                <li id="trogiup" onclick="javascript:tabTroGiup()">
                    <i class="fa fa-life-ring"></i> Trung tâm trợ giúp
                </li>
                <li id="caidat" onclick="javascript:tabCaiDat()">
                    <i class="fa fa-cog"></i> Cài đặt chính sách
                </li>
            </ul>
        </div>
        <div class="main w3-col m9 l10">
            <div class="nav w3-bar w3-card row">
                <div class="nav-content">
                    <div class="timkiem w3-col s4 l7">
                        <form>
                            <input type="text" placeholder="Tìm kiếm thông tin diễn đàn trợ giúp" name="" class="w3-border-0" style="width: 100%">
                        </form>
                    </div>
                    <div class="thongbao w3-col s4 l2">
                        <div class="chuong w3-col s6">
                            <i class="fa fa-bell"></i>
                        </div>
                        <div class="tinnhan w3-col s6">
                            <i class="fa fa-comments"></i>
                        </div>
                    </div>
                    <div class="username w3-col s4 l3">
                        <div class="username-content w3-row">
                            <div class="name-home w3-col s9">Thằng lồn mập địt</div>
                            <div class="avata-home w3-col s3">
                                <img src="" alt="logo" class="w3-image w3-circel">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content" id="tintuc-content">
                Tin tức
            </div>
            <div class="content" id="baocao-content" style="display: none;">
                Báo cáo
            </div>
            <div class="content" id="trogiup-content" style="display: none;">
                Trợ giúp
            </div>
            <div class="content" id="caidat-content" style="display: none;">
                Cài đặt
            </div>
        </div>
    </div>
    <script src="assets/js/main/home.js"></script>
</body>

</html>