<html>
<head>
	<title>Hệ thống quản lý cựu sinh viên</title>
	<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="assets/css/style.css">

	<script src="assets/js/main/index.js"></script>
	<script type="text/javascript"></script>
</head>
<body>
	<div id="container">
    <h1 class="text-center">Hệ thống quản lý cựu sinh viên</h1>
    <h3 class="text-center login-text">Đăng nhập</h3>
    <form class="text-center">
        <div class="form-group">
            <input class="input-lg " type="text" name="username" placeholder="Tên tài khoản">
        </div>
        <div class="form-group">
            <input class="input-lg" type="password" name="password" placeholder="Mật khẩu">
        </div>
        <div class="form-check">
        	<label  class="form-check-label remember-password">
        	<input type="checkbox" name="remember-password" class="form-check-input"> Lưu tài khoản</label>
        	<span><a href="" class="forget">Quên mật khẩu</a></span>
        </div>
        <div class="login-button">
        	<input type="button" name="login" id="login" value="Đăng nhập" onclick="javascript:Login()";>
        </div>
        <div>
        	<a href="registered" class="registrate">Chưa có tài khoản? Đăng ký ngay</a>
        </div>
    </form>
</div>
</body>
</html>