<html ng-app="registrate">
<head>
	<title>Hệ thống quản lý cựu sinh viên</title>
	<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="assets/css/style.css">

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.7.4/angular.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="assets/js/main/index.js"></script>
	<script type="text/javascript"></script>
</head>
<body ng-controller="registrateController">
	<div id="container">
    <h1 class="text-center">Hệ thống quản lý cựu sinh viên</h1>
    <h3 class="text-center registered-text">Đăng ký</h3>
    <h3 class="text-center registered-text">Hoàn thiện thông tin sau</h3>
    <form class="text-center">
        <div class="form-group">
            <input class="input-lg " type="text" id="newusername" name="username" placeholder="Tên tài khoản">
        </div>
        <div class="form-group">
            <input class="input-lg" type="text" name="password" placeholder="E-mail">
        </div>
        <div class="form-group">
            <input class="input-lg" type="password" name="password" placeholder="Mật khẩu">
        </div>
        <div class="form-group">
            <input class="input-lg" type="repassword" name="password" placeholder="Nhập lại mật khẩu">
        </div>
        <div class="form-check">
            <label class="form-check-label agree">
                <input type="checkbox" name="agree" class="form-check-input"> Tối đồng ý với điều khoản sử dụng và chính sách của
            </label>
        </div>
        <div class="registered-button">
        	<input type="button" name="registered" value="Đăng ký">
        </div>
        <div>
            <a href="/" class="registered">Đã có tài khoản? Đăng nhập</a>
        </div>
    </form>
</div>
</body>
</html>