body, html, .container, .main {
	width: 100%;
	height: 100%;
	font-size: 14px;
}
.side-bar {
	background-color: #43425d;
	height: 100%;
}
.side-bar a {
	text-decoration: none;
	color: white;
	text-align: center;
}
.side-bar a:hover {
	color: #8c8c8c;
}
.side-bar a h2 {
	margin: 0;
	padding: 10px 0;
	height: 70px;
}
.side-bar ul {
	list-style: none;
	color: white;
	margin: 0;
	padding: 0;
}
.side-bar ul li {
	padding: 15px;
	cursor: pointer;
}
.side-bar ul li:hover {
	color: #8c8c8c;
}
.side-bar ul li#tintuc{
	background-color: #3c3b54;
	border-left: 3px solid #6f6da7;
}
.nav {
	height: 70px;
	padding: 15px 10px;
}
.nav-content {
	height: 100%;
}
.timkiem, .thongbao{
	height: 40px;
	padding: 8px;
}
.thongbao {
	color: #8c8c8c;
	font-size: 1.3rem;
	text-align: center;
	border-left:1px solid;
	border-right:1px solid;
}
.chuong:hover, .tinnhan :hover {
	color: #404040;
}
.name-home {
	padding: 10px;
	text-align: right;
}
.avata-home img{
	height: 40px;
	width: 40px;
	border-radius: 50%;
}
.content {
	background-color: #e1e9ec;
	padding: 50px;
	color: #008EFD;
	height: 100%;
}
