body {
	background-color: #F0F0F7;
	font-size: 12px;
}
h1{
	padding: 50px;
}
.login-text{
	color: #677583;
	padding-bottom: 80px;
	font-size: 20px;
	opacity: 0.7;
}
div .input-lg {
	border: none;
	border-bottom: 1px solid #cacaca;
	color: #202020;
	height: 40px;
	display: block;
	width: 40%;
	background-color: transparent;
	transition: all .3s;
	margin: auto;
	padding:30px 0px;
}
.remember-password, .agree {
	margin-top: 30px;
	padding-right: 220px;
	padding-bottom: 70px;
}
.forget{
	color: #000;
	text-decoration: none!important;
}
input[type=button]{
	background-color: #43425d;
	height: 60px;
	width: 200px;
	color: #fff;
	border-radius: 10px; 
	border: none;
}
.login-button,.registered-button{
	padding-bottom: 60px;
}
.agree{
	padding-right: 50px;
}
.registered-text{
	color: #677583;
	padding-bottom: 20px;
	font-size: 20px;
	opacity: 0.7;
}
#error-pass {
  padding-top: 20px;
}
