#PersonalInfomation {
    
}
#info{
    float: left;
}

label{
    float:left;
    width:200px;
    font-weight: bold;
    padding:5px;
}
form br {
    clear:both;
}
input:focus {
    background-color: #e3e5e8;
}
form {
    padding: auto;
    align-content: center;
}

.carousel{
    height: 400;
} 
.carousel-item img{
    height: 400px;
}
